@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link href="~/css/weather.css" rel="stylesheet" />
}
<div ng-app="app">
    <div ng-controller="MainCtrl">
        <div>
            <input />
        </div>
        <div ng-if="weather.isVisible" class="weather-board">

            <div class="weather-today" data-ng-model="weather.today" id="left">
                <div class="day">
                    {{weather.today.date}}
                </div>
                <div class="temperature">
                    {{weather.today.temperature.max}}, {{weather.today.temperature.min}}
                </div>
            </div>

            <div class="forecast-tiles" id="right">
                <div ng-repeat="x in weather.forecast" class="forecast-tile">
                    <div class="day">
                        {{x.date}}
                    </div>
                    <div class="temperature">
                        <div>
                            {{x.temperature.max}}, {{x.temperature.min}}
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div ng-if="!weather.isVisible" class="weather-board">
            {{weather.problemReason}}
        </div>
        <div ng-model="position">
            Lat :{{position.latitude}},
            Long : {{position.longitude}}
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/js/custom/weather.js"></script>
}
