@{
    ViewData["Title"] = "Home Page";
}
<style>
.weather-board{

}
.day{
    text-align: right;
    font-size: 30px; 
}
.weather-tile{
     border: 1px;
     border-style: dotted;
}
.input-city{
    
}
</style>
<div ng-app="plunker">
    <div ng-controller="MainCtrl"> 
        <div>
<input class="input-city"></input>
            </div>
        <div class="weather-board">
        <div ng-repeat="x in records" class="weather-tile">
            <div class="day">{{x.day}}</div>
            <div class="temperature">
                <div>
                    {{x.temperature}}, {{x.temperature}}
                </div>
            </div>
        </div>
        </div>
    </div> 
    </div>
</div>


<script src="~/lib/angular/angular.js"></script>
<script src="~/js/custom/main.js"></script>
