@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link href="~/css/weather.css" rel="stylesheet" asp-file-version="true" />
    <link href="~/js/custom/autosuggest/main.css" rel="stylesheet" asp-file-version="true" />
}
<div>


    <div ng-app="app" id="app2">

        <div ng-controller="MainCtrl" class="weather-board">
            <div ng-if="weather.isVisible">
                <div class="weather-today" data-ng-model="weather.today" id="left">

                    <autosuggest get-cities="getCities" parser="citiesParser" on-city-select="onCitySelect"></autosuggest>
                    <p class="displayed-date">{{weather.displayed.date}}</p>
                    <div id="weather-today-up">
                        <div>
                            <p class="condition">{{weather.displayed.condition}}</p>
                            <div>
                                {{weather.displayed.temperature}}<span ng-bind-html="unit"></span>
                            </div>
                        </div>
                    </div>
                    <div id="weather-today-down">
                        DOWN
                    </div>
                </div>

                <div class="forecast-tiles" id="right">
                    <table class="forecast-table">
                        <tr ng-click="changeDisplayed(-1)" class="forecast-tr">
                            <td>{{weather.today.temperature}}<span ng-bind-html="unit"></span></td>
                            <td class="forecast-date">Now</td>

                        </tr>
                        <tr ng-repeat="x in weather.forecast" ng-click="changeDisplayed(x.id)" class="forecast-tr">
                            <td>{{(x.temperature.max+x.temperature.max)/2}}<span ng-bind-html="unit"></span>,</td>
                            <td>feels like {{(x.temperature.max+x.temperature.max)/2}}<span ng-bind-html="unit"></span>,</td>
                            <td class="forecast-date">{{x.date}}</td>
                        </tr>
                    </table>

                </div>

            </div>
            <div ng-if="!weather.isVisible" class="weather-board">
                {{weather.problemReason}}
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/js/custom/autosuggest/autosuggest.js"></script>
    <script src="~/js/custom/weather.js"></script>
}
