@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link href="~/lib/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.css" rel="stylesheet" asp-file-version="true" />
    <link href="~/css/weather.css" rel="stylesheet" asp-file-version="true" />
    <link href="~/js/custom/autosuggest/main.css" rel="stylesheet" asp-file-version="true" />
}
<div>


    <div ng-app="app" id="app2">
        <div ng-controller="MainCtrl" class="weather-board">
            <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-11 col-lg-12">
                    <div class="site-header col-xs-1 col-sm-5">
                        WEATHER
                    </div>
                    <div class="col-xs-1 col-sm-3" style="padding-top: 10px;">
                        <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate" style="font-size: 50px;" ng-if="isRefreshing == true"></span>
                    </div>
                    <div class="col-xs-1 col-sm-1">
                        <toggle ng-model="degreesValue" ng-change="changeDegrees()" on="Celcius" off="Farenheit" style="min-width: 200px" onstyle="btn-default" offstyle="btn-default"></toggle>
                        <br />
                        <toggle ng-model="apiValue" ng-change="changeApi()" on="forecast.io" off=" World Weather" onstyle="btn-default" offstyle="btn-default"></toggle>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 forecast-container forecast-bordered-container weather-today" data-ng-model="weather.today" id="left">


                    <div class="row">
                        <div class="col-xs-8 col-sm-3 col-md-6 col-lg-9">
                            <autosuggest get-cities="getCities" parser="citiesParser" on-city-select="onCitySelect" displayedCity="{{weather.displayed.city}}"></autosuggest>
                        </div>
                        <div class="col-xs-2 col-sm-3 col-md-6 col-lg-3">
                            <p class="displayed-date">{{weather.displayed.date}}</p>
                        </div>
                    </div>

                    <div ng-if="weather.displayed.expanded !==undefined" class="row weather-current">

                        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                            Temperature:
                            <div ng-if="weather.displayed.expanded == false">
                                <div class="temperature" style="font-size: 100px">
                                    {{weather.displayed.temperature}}<span class="unit" ng-bind-html="unit"></span>
                                </div>

                            </div>
                            <div ng-if="weather.displayed.expanded == true">
                                <div class="temperature" style="font-size: 60px">
                                    {{weather.displayed.temperature.min}} - {{weather.displayed.temperature.max}}<span class="unit" ng-bind-html="unit"></span>
                                </div>
                            </div>
                            Feels like:
                            <div ng-if="weather.displayed.expanded == false">
                                {{weather.displayed.apparentTemperature}}<span class="unit" ng-bind-html="unit"></span>
                            </div>
                            <div ng-if="weather.displayed.expanded == true">
                                {{weather.displayed.temperature.apparentMin}} - {{weather.displayed.temperature.apparentMax}}<span class="unit" ng-bind-html="unit"></span>
                            </div>
                        </div>



                        <div class="row col-xs-12 col-sm-6 col-md-6 col-lg-6 weather-additional">
                            Humidity: {{weather.displayed.humidityDescription}}<br />
                            Pressure: {{weather.displayed.pressureDescription}}<br />
                            {{weather.displayed.coverDescription}}

                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6  col-md-5 col-lg-6 forecast-container " id="right">
                    <div class=" forecast-tiles" ng-if="weather.displayed.expanded !==undefined">
                        <div ng-click="changeDisplayed(-1)" class="row forecast-tile forecast-bordered-container">
                            <div class="col-xs-1 col-sm-3 ">
                                {{weather.today.temperature}}<span ng-bind-html="unit"></span>
                            </div>
                            <div class="col-xs-4 col-sm-4 ">
                                feels like {{weather.today.temperature}}<span ng-bind-html="unit"></span>
                            </div>
                            <div class="col-xs-5 col-sm-5">Now</div>

                        </div>
                        <div class="row forecast-tile forecast-bordered-container" ng-repeat="x in weather.forecast" ng-click="changeDisplayed(x.id)">
                            <div class="col-xs-1 col-sm-3 ">
                                {{x.average}}<span ng-bind-html="unit"></span>
                            </div>
                            <div class="col-xs-4 col-sm-4 ">
                                feels like {{x.apparentAverage}}<span ng-bind-html="unit"></span>
                            </div>
                            <div class="col-xs-5 col-sm-5">{{x.date}}</div>
                        </div>
                    </div>
                </div>


            </div>
            <div ng-if="!weather.isVisible" class="weather-board">
                {{weather.problemReason}}
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/angular-bootstrap-toggle/dist/angular-bootstrap-toggle.js"></script>
    <script src="~/js/custom/autosuggest/autosuggest.js"></script>
    <script src="~/js/custom/weather.js"></script>
}

