@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link href="~/css/weather.css" rel="stylesheet" asp-file-version="true" type="text/css" />
    <link hr­ef="~/lib/allmighty-autocomplete/style/autocomplete.css" rel="stylesheet" type="text/css" />
 
}
<div style="height: 300px">
    
</div>
<div ng-app="app">
    <div ng-controller="MainCtrl">
        <autocomplete ng-model="" data="movies" on-type="updateMovies"></autocomplete>
        @*<div class="weather-board">
            <div class="weather-today" ng-model="weather.today">
                <div class="day">{{date}}</div>
                <div class="temperature">
                    {{temperature.max}}, {{temperature.min}}
                </div>
            </div>
        </div>
        <div ng-repeat="x in weather.forecast" class="weather-tile">
            <div class="day">{{x.date}}</div>
            <div class="temperature">
                <div>
                    {{x.temperature.max}}, {{x.temperature.min}}
                </div>
            </div>
        </div>*@
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/lib/allmighty-autocomplete/script/autocomplete.js"></script>
    <script src="~/js/custom/weather.js"></script>
}
