@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link href="~/css/weather.css" rel="stylesheet" />
}
<div ng-app="app">
    <div ng-controller="MainCtrl" class="weather-board">
        <div>
            <div class="city-input">
                <form>asd</form>
            </div>
        </div>
        <div ng-if="weather.isVisible">
            <div class="weather-today" data-ng-model="weather.today" id="left">
                <div id="weather-today-up">
                    <div>
                        <p class="condition">{{weather.displayed.condition}}</p>
                        <div>
                            {{weather.displayed.temperature}}&#8451;
                        </div>
                    </div>
                    <img ng-src="{{weather.displayed.image}}" />
                </div>
                <div id="weather-today-down">
                    DOWN
                </div>
            </div>

            <div class="forecast-tiles" id="right">

                <div class="forecast-tile">
                    <div class="day">Now</div>
                    <div class="temperature">
                        <div>
                            Temperature: {{weather.today.temperature}}&#8451;
                        </div>
                    </div>
                </div>
                <div ng-repeat="x in weather.forecast" ng-click="changeDisplayed(x.id)" class="forecast-tile">
                    <div class="day">
                        {{x.date}}
                    </div>

                    <div class="temperature">
                        <div>
                            Max:{{x.temperature.max}}&#8451;,
                            Min:{{x.temperature.min}}&#8451;
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div ng-if="!weather.isVisible" class="weather-board">
            {{weather.problemReason}}
        </div>
        <div ng-model="position" class="position">
            Lat :{{position.latitude}},
            Long : {{position.longitude}}
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/js/custom/weather.js"></script>
}
