body {
    background-color: #DAE7F1;
}

.weather-board {
    padding-top: 70px;
    padding-bottom: 70px;
}

.forecast-date {
    text-align: right;
    font-size: 30px;
}

.forecast-table {
    width: 100%;
    font-size: 25px;
}

.forecast-tr {
    border-bottom: 1px dotted;
    height: 70px;
    padding: 12px;
}

    .forecast-tr > td { 
        padding: 10px;
    }


.forecast-temperature {
    font-size: 25px;
    width: 30%;
}

.weather-image {
    max-height: 150px;
}

.displayed-date {
    font-size: 42px;
    float: right;
}

.city-input {
    margin-bottom: 10px;
    width: 50%;
}

.condition {
    font-size: 23px;
}

.temperature-today {
    width: 30px;
    position: fixed;
}

.forecast-tiles {
    min-height: 490px;
    width: 47%;
    float: right;
    background-color: #5682A3;
}

.weather-today {
    background-color: #B0C8DA;
    float: left;
    width: 52%;
    height: 490px;
    border-radius: 2%;
    padding: 12px;
}

#weather-today-up {
    height: 50%;
}

.position {
    clear: both;
}

/* AUTOCOMPLETE */

.autocomplete {
    width: 30%;
    position: relative;
}

    .autocomplete input {
        font-size: 1.2em;
        width: 100%;
        padding: 0.4em;
    }

    .autocomplete ul {
        position: absolute;
        left: 0;
        width: 100%;
        border-left: 1px solid #888;
        border-right: 1px solid #888;
        border-bottom: 1px solid #888;
        z-index: 1;
    }

    .autocomplete li {
        text-align: left;
        list-style: none;
        width: 100%;
        padding: 0.4em;
        background-color: #fff;
    }

        .autocomplete li.active {
            width: 100%;
            background-color: #4bf;
        }

    .autocomplete .highlight {
        background-color: #E2E2E2;
    }

    .autocomplete li.active .highlight {
        background: #666;
        color: #fff;
    }




@media all and (max-width: 1000px) {
    #left, #right {
        float: none;
        width: 100%;
        margin: 0px;
    }

    .weather-tile {
        height: 150px;
        background-color: blue;
    }
}
