body {
    background-color: #f3f3f4;
}

.weather-board {
    padding-top: 70px;
    padding-bottom: 70px;
}

.forecast-table {
    width: 100%;
}

.forecast-row {
    border-bottom: 1px dotted;
}

.forecast-box {
    clear: both;
    border-color: #f3f3f4;
    padding: 3px;
    border-color: #f3f3f4;
    border-style: solid solid none;
    border-width: 1px;
}


.forecast-temperature {
    font-size: 25px;
    width: 30%;
}

.weather-image {
    max-height: 150px;
}

.displayed-date {
    font-size: 42px;
    float: right;
}

.city-input {
    margin-bottom: 10px;
    width: 50%;
}

.condition {
    font-size: 23px;
}

.temperature-today {
    width: 30px;
    position: fixed;
}

.forecast-tiles {
    min-height: 370px;
    font-size: 19px;
    padding-left: 15px;
    font-family: "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.weather-today {
}

.forecast-tile {
    margin-bottom: 5px;
    text-align: right;
    height: 48px;
    background-color: white;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

    .forecast-tile > div {
        padding: 0;
    }

.forecast-tiles > div {
    padding: 10px 20px 0 0;
}

.forecast-tiles :hover {
    background-color: #fbfbfb;
}


#weather-today-up {
    height: 50%;
}

.position {
    clear: both;
}

/* AUTOCOMPLETE */

.autocomplete {
    width: 30%;
    position: relative;
}

    .autocomplete input {
        font-size: 1.2em;
        width: 100%;
        padding: 0.4em;
    }

    .autocomplete ul {
        position: absolute;
        left: 0;
        width: 100%;
        border-left: 1px solid #888;
        border-right: 1px solid #888;
        border-bottom: 1px solid #888;
        z-index: 1;
    }

    .autocomplete li {
        text-align: left;
        list-style: none;
        width: 100%;
        padding: 0.4em;
        background-color: #fff;
    }

        .autocomplete li.active {
            width: 100%;
            background-color: #4bf;
        }

    .autocomplete .highlight {
        background-color: #E2E2E2;
    }

    .autocomplete li.active .highlight {
        background: #666;
        color: #fff;
    }


@media (min-width: 992px) {
    .forecast-tiles > div {
        padding: 10px 20px 0 0;
    }
}

@media all and (max-width: 768px) {

    .forecast-tiles > div {
        padding: 10px 5px 0 0;
    }
}
